* {
    font-family: "Sedan", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    overflow-x: hidden;
}

.navbar {
    overflow: hidden; 
}

:root{
    --x:#D83F87;
    --y:#2A1B3D;
    --z:#44318D;
    --p:#8959b0;
    --q:#626464;
}

/* main_page */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.small_profile {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-color: var(--q);
    border-style: solid;
    border-radius: 30%;
    background-color: var(--q);
    color: white;
}

@media (max-width: 768px) {
    .small_profile {
        border-radius: 20%;
        height: 500px;
    }

    .small_profile .profile_info h1 {
        font-size: 30px;
    }

    .small_profile .profile_info h3 {
        font-size: 20px;
    }

    .small_profile .profile_img img {
        width: 210px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .small_profile {
        border-radius: 20%;
        height: 400px;
    }

    .small_profile .profile_info h1 {
        font-size: 24px;
    }

    .small_profile .profile_info h3 {
        font-size: 15px;
    }

    .small_profile .profile_img img {
        width: 180px;
        height: 300px;
    }
}
/* Animation */
.typewriter {
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 3px solid black; 
    width: 0; 
    animation: typing 3s steps(30, end) forwards infinite; 
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}



/* About me */

.about_part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading {
    color: var(--q);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(162, 157, 157, 0.51);
    font-family: "Volkhov", serif;
  }
.profile_about p{
    font-size: 20px;
    font-weight: 550;
    text-align: justify;
}
@media (max-width: 480px){
    .heading {
        color: var(--q);
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        text-shadow: 2px 2px 5px rgb(187, 175, 199);
        font-family: "Volkhov", serif;
      }
    .profile_about p{
        font-size: 16px;
        font-weight: 550;
        text-align: justify;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.heading  {
    animation: slideIn 3s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* .skills */
#skills{
    background-color: #d5dddd;
}
.focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#hr_skill {
    width: 20%;
    height: 3px;
    border: 2px solid var(--q);
    border-radius: 3px;
    background-color: var(--q);
    margin-bottom: 10px;
}

.p_bar {
    width: 60vh; 
    background-color: var(--q); 
    height: 8px;
    border-radius:5px ;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: 0.5rem 0;
  }

  /* .skills {
    height: 8px;
    width: 100%; 
    border-radius: 5px;
    background-color: var(--q);
} */

.skill_prgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.htl {
    width: 90%; 
    background-color: var(--y); 
    height: 8px;
    border-radius:5px ;
  }

.css {
    width: 80%; 
    background-color: var(--y); 
    height: 8px;
    border-radius:5px ;
} 
.bs {
    width: 85%; 
    background-color: var(--y); 
    height: 8px;
    border-radius:5px ;
}
.js {
    width: 75%; 
    background-color: var(--y); 
    height: 8px;
    border-radius:5px ;
} 
.python {
    width: 60%; 
    background-color: var(--y); 
    height: 8px;
    border-radius:5px ;
} 


.card:hover{
    background-color: var(--q);    
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
    }
}

.card {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }